.inner-bg {
  padding : 0;
}

.form-box {
  margin-left  : auto;
  margin-right : auto;
  max-width    : 425px;
  padding-top  : 0;
  width        : 50%;
}

.form-top {
  padding-top : 15px;
}

.form-top {
  font-size   : 22px;
  font-weight : 500;
  line-height : 1.0;
}

button.btn {
  background            : #19b9e7;
  border                : 0;
  border-radius         : 4px;
  box-shadow            : none;
  color                 : #fff;
  font-family           : 'Roboto',
                          sans-serif;
  font-size             : 16px;
  font-weight           : 300;
  height                : 35px;
  line-height           : 35px;
  margin                : 0;
  padding               : 0 20px;
  text-shadow           : none;
  transition            : all .3s;
  vertical-align        : middle;
  -moz-border-radius    : 4px;
  -moz-box-shadow       : none;
  -moz-transition       : all .3s;
  -ms-transition        : all .3s;
  -o-transition         : all .3s;
  -webkit-border-radius : 4px;
  -webkit-box-shadow    : none;
  -webkit-transition    : all .3s;
}

button.btn:hover {
  color   : #fff;
  opacity : 0.6;
}

button.btn:active {
  -moz-box-shadow    : none;
  -webkit-box-shadow : none;
  box-shadow         : none;
  color              : #fff;
  opacity            : 0.6;
  outline            : 0;
}

button.btn:focus {
  background : #19b9e7;
  color      : #fff;
  opacity    : 0.6;
  outline    : 0;
}

button.btn:active:focus {
  background : #19b9e7;
  color      : #fff;
  opacity    : 0.6;
  outline    : 0;
}

.login-page .login-content {
  padding-top : 50px;
}
