.company-name {
  font-size : 18px;
}

hr {
  border-top : 3px solid #01b2bd;
}

.delete-appt {
  margin-left : 15px;
}

.delete-appt:hover {
  color  : red;
  cursor : pointer;
}

.appt-container {
  max-width : 980px;
}

.page-title {
  margin : 35px auto;
}

.add-button {
  float            : left;
  margin-top       : 15px;
  padding          : 7px;
  color            : white;
  border-radius    : 2px;
  background-color : #01b2bd;
}

.add-button:hover {
  background-color : #049099;
  cursor           : pointer;
}

tr:nth-last-child(1) {
  border-bottom : 1px solid rgb(215,215,215);
}

.table thead th {
  border-bottom : 1px solid rgb(215,215,215);
}

.message-api {
  width       : 60%;
  max-width   : 480px;
  margin-top  : 30px;
  margin-left : 30px;
  color       : #303641;
}

.message-api a {
  color : #818da2;
}

.message-api a:hover {
  color : #5b677b;
}
