.company-name  {
    font-size: 18px;
}

.modal-title{
   font-size: 24px;
   text-align: center;

}
.page-title{
   margin: 35px auto;

}

.table > thead > tr > th {
   border-bottom: none
}

.add-button{
   background-color: #01b2bd;
   border-radius: 2px;
   color: white;
   float: left;
   margin-top: 15px;
   padding: 7px;
}

.add-button:hover{
   background-color: #049099;
   cursor: pointer;
}

.update-button{
   /*border-radius: 2px;
   padding: 7px;
   margin-top: 15px; */
   background-color: #ec971f;
   color: white;
   float: left;
}

.update-button:hover{
   background-color: #ec971f;
   color: white;
   cursor: pointer;
}

.patient-table-header > .form-control{
   margin-bottom: 15px;
   width: 150px;

}

.employee-container{
   max-width: 980px;
}


table{
   border-radius: 4px
}

.table th{
   font-size: 1.2em;
}
/*
.table > thead:first-child > tr:first-child > th{
   border-top: 1px solid rgb(215,215,215)
   border-top-width: 1px;
}
*/
.table thead > tr th{
   border-color:rgb(215,215,215);
}
.table tr td{
   border-color:rgb(215,215,215);

}

tr:nth-last-child(1){
   border-bottom: 1px solid rgb(215,215,215);
}

hr{
   border-top: 3px solid #01b2bd;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
   width: 100%;
}

.modal-body{
   overflow: hidden;
}

.modal-body .form-horizontal .control-label {
   text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
   margin-left: 15px;
}

.form-control{
   margin-bottom: 4px;
   margin-top: 4px;
}
.control-label{
   margin-top: 8px;
}