.form-control {
  display : inline;
}

hr {
  border-top : 3px solid #01b2bd !important;
}

.form-builder {
  margin    : 25px auto;
  max-width : 980px;
  width     : 90%;
}

.form-group {
  margin-left  : auto;
  margin-right : auto;
  max-width    : 400px;
  width        : 50%;
}

.my-form input {
  width : 60%;
}

.add-form-text {
  margin    : 25px auto;
  max-width : 400px;
  width     : 50%;
}

.add-fields {
  margin-left  : auto;
  margin-right : auto;
  max-width    : 400px;
  width        : 50%;
}

.save-form {
  margin-top : 25px;
}

h1 {
  margin-bottom : 15px;
  margin-top    : 40px;
  text-align    : center;
}
